

	<!-- Movement icons
	================================================== -->
	<div class="horizon-prev" id="section01"><a><span></span></a></div>
	<div class="horizon-next" id="section02"><a><span></span></a></div>

	<!-- Home Section
	================================================== -->
	<section data-role="section" id="home">
		<!--our logo comes here -->
		<div class="container">
			<div class="logo animated bounce">
				<div class="logo__card">
			<div class="layer"><%= image_tag "laptop.png" %></div>
				</div>
			</div>
		</div>
		<div class='col s10 offset-s1 page text-center'>

			<div class='glitch'>
				<h1 class='glitchText'>INTERRUPT '17</h1>
				<h1 class='glitchText'>INTERRUPT '17</h1>
				<h1 class='glitchText'>INTERRUPT '17</h1>
			</div>
			<!-- Modal Trigger -->
			<br /><br /><br />
			<p class='center-align'>
				<a class="waves-effect waves-light btn blue modal-trigger" href="#modal1">Register Now</a>
			</p>
			<!-- Modal Content -->
			<div id="modal1" class="modal modal-fixed-footer">
				<form class="col s12" action='#'>
					<div class="black-text modal-content">
						<div class='row'>
							<div class='col s12 center-align'>
								<h4>SVCE Interrupt '17 - Registration</h4>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6">
								<i class="material-icons prefix black-text text-darken-2">person</i>
								<input id="first_name" type="text" class="validate" data-length="20">
								<label for="first_name">First Name</label>
							</div>
							<div class="input-field col s12 m6">
								<i class="material-icons prefix black-text text-darken-2">person</i>
								<input id="last_name" type="text" class="validate" data-length="20">
								<label for="last_name">Last Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m6">
								<i class="material-icons prefix black-text text-darken-2">email</i>
								<input id="email" type="email" class="validate" data-length="35">
								<label for="email">Email</label>
							</div>
							<div class="input-field col s12 m6">
								<i class="material-icons prefix black-text text-darken-2">local_phone</i>
								<input id="phone" type="tel" class="validate"  data-length="10">
								<label for="phone">Phone Number</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix black-text text-darken-2">school</i>
								<input id="college" type="text" class="validate" data-length="50">
								<label for="college">College Name</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 text-center">
								<span class='bold-text'>Events</span><br />
							</div>
						</div>
						<div class="row">
							<div class='col s12 m4'>
								<p>
									<input name='selectEvent' type="checkbox" id="event1"/>
									<label for="event1">Event One</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event2"/>
									<label for="event2">Event Two</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event3"/>
									<label for="event3">Event Three</label>
								</p>
							</div>
							<div class='col s12 m4'>
								<p>
									<input name='selectEvent' type="checkbox" id="event4"/>
									<label for="event4">Event Four</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event5"/>
									<label for="event5">Event Five</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event6"/>
									<label for="event6">Event Six</label>
								</p>
							</div>
							<div class='col s12 m4'>
								<p>
									<input name='selectEvent' type="checkbox" id="event7"/>
									<label for="event7">Event Seven</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event8"/>
									<label for="event8">Event Eight</label>
								</p>
								<p>
									<input name='selectEvent' type="checkbox" id="event9"/>
									<label for="event9">Event Nine</label>
								</p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn waves-effect waves-light blue" type="submit" name="action">Register
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- About Section
	================================================== -->
	<section data-role="section" id="about">
		<div class='page text-center'>
			<h1>About Interrupt '17</h1>
			<p>
				Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy! ", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just flocked up to quiz and vex him. Adjusting quiver and bow, Zompyc[1] killed the fox. My faxed joke won a pager in the cable TV quiz show. Amazingly few discotheques provide jukeboxes. My girl wove six dozen plaid jackets before she quit. Six big devils from Japan quickly forgot how to waltz. Big July earthquakes confound zany experimental vow. Foxy parsons quiz and cajole the lovably dim wiki-girl.
			</p>
		</div>
	</section>

	<!-- Solo Events Section
	================================================== -->
	<section data-role="section" id="events">
		<div class='page text-center'>
			<h1>Solo Events</h1>
			<div class="container">
				<div class='row'>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 1</h5></a>
					</div>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 2</h5></a>
					</div>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 3</h5></a>
					</div>
				</div>
				<div class='row'>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 4</h5></a>
					</div>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 5</h5></a>
					</div>
					<div class='col s12 m4 event'>
						<a class="modal-trigger" href="#modal2"><h5>Event 6</h5></a>
					</div>
				</div>
			</div>
			<!-- Modal Structure -->
			<div id="modal2" class="modal modal-fixed-footer">
				<div class='black-text modal-content'>
					<div class='row'>
						<div class='col s12 center-align'>
							<h3>Event Name</h3>
						</div>
					</div>
					<div class='row'>
						<div class='col s12 m6'>
							<p class='text-justify'>
								Lorem ipsum dolor sit amet, mei quis soluta ut, ius ut autem deleniti. At oratio neglegentur qui, illum maluisset reprimique cum cu. Ius esse nostrum id, no omnis omittam mea. Erant maiorum te qui, qui labore mandamus id. Cum id nisl porro ponderum, vix eu suscipit reformidans, quo melius graecis epicurei ea. Qui eu latine erroribus, te causae conceptam vix.
							</p>
						</div>
						<div class='col s12 m6'>
							<h5>Rules</h5>
							<ol class='left-align'>
								<li>Rule 1</li>
								<li>Rule 2</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="modal-action modal-close btn waves-effect waves-light blue" type="submit" name="action">Okay
						<i class="material-icons right">done</i>
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- Team Events Section
	================================================== -->
	<section data-role="section" id="events">
		<div class='page text-center'>
			<h1>Team Events</h1>
			<div class="container">
				<div class='row'>
					<div class='col s12 m6 event'>
						<a class="modal-trigger" href="#modal3"><h5>Event 7</h5></a>
					</div>
					<div class='col s12 m6 event'>
						<a class="modal-trigger" href="#modal3"><h5>Event 8</h5></a>
					</div>
				</div>
				<div class='row'>
					<div class='col s12 m6 event'>
						<a class="modal-trigger" href="#modal3"><h5>Event 9</h5></a>
					</div>
					<div class='col s12 m6 event'>
						<a class="modal-trigger" href="#modal3"><h5>Event 10</h5></a>
					</div>
				</div>
			</div>
			<!-- Modal Structure -->
			<div id="modal3" class="modal modal-fixed-footer">
				<div class='black-text modal-content'>
					<div class='row'>
						<div class='col s12 center-align'>
							<h3>Event Name</h3>
						</div>
					</div>
					<div class='row'>
						<div class='col s12 m6'>
							<p class='text-justify'>
								Lorem ipsum dolor sit amet, mei quis soluta ut, ius ut autem deleniti. At oratio neglegentur qui, illum maluisset reprimique cum cu. Ius esse nostrum id, no omnis omittam mea. Erant maiorum te qui, qui labore mandamus id. Cum id nisl porro ponderum, vix eu suscipit reformidans, quo melius graecis epicurei ea. Qui eu latine erroribus, te causae conceptam vix.
							</p>
						</div>
						<div class='col s12 m6'>
							<h5>Rules</h5>
							<ol class='left-align'>
								<li>Rule 1</li>
								<li>Rule 2</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="modal-action modal-close btn waves-effect waves-light blue">Okay
						<i class="material-icons right">done</i>
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- Team Section
	================================================== -->
	<section data-role="section" id="team">
		<div class='page text-center'>
			<h1>Team - Interrupt '17</h1>
			<p>
				Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy! ", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just flocked up to quiz and vex him. Adjusting quiver and bow, Zompyc[1] killed the fox. My faxed joke won a pager in the cable TV quiz show. Amazingly few discotheques provide jukeboxes. My girl wove six dozen plaid jackets before she quit. Six big devils from Japan quickly forgot how to waltz. Big July earthquakes confound zany experimental vow. Foxy parsons quiz and cajole the lovably dim wiki-girl. Have a pick: twenty six letters -
			</p>
		</div>
	</section>
    